//Colors
$color-primary: #7ed56f;
$color-secondary: #55c57a;
$color-tertiary: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;

//Measurements
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$grid-width: 114rem;