.u-align--center {
    text-align: center;
}

.u-margin-bottom-small {
    padding-bottom: .5rem;
}

.u-margin-bottom-medium {
    padding-bottom: 4rem;
}

.u-margin-bottom-large {
    padding-bottom: 8rem;
}